
* {
    text-align:center;
    background-color: white;
}

.ability_p1,.ability_p2 {
    margin: 30px;
    display:flex;
}

.chose_fighter {
    text-align:center;
}

#announcement {
    color:red;
    font-size:50px;

}
.initiative {
    text-align: center;
    font-display: center;
    font-size:15px;
}
.player_one_initiative {
    font-size: 20px;
    font-display: center;
    color: brown;
    
}

.player_two_initiative{ 
    font-size: 20px;
    font-display: center;
    color:green;
}

#initiative_result {
    text-align:center;
}


.buttons_rogue, .buttons_mage, .buttons_warrior {
    text-align:center;
}


.rogue:hover, .mage:hover, .warrior:hover {
    opacity: 1;
    cursor: pointer;
    border-color:brown;
    transform: scale(1.5);
}

.fighter1 {
    background-color: brown;
    border-color:green;
    border-radius:30%;
    color:white;
}

.fighter2{
    border-color: brown;
    border-radius:30%;
    background: green;
    color:white
}
.fighter1:hover {opacity: 1;
    cursor: pointer;
    border-color:brown;
    transform: scale(1.5);
}

.fighter2:hover {opacity: 1;
    cursor: pointer;
    border-color:green;
    transform: scale(1.5)
}

#show_starting_player{
    size:20px;
    color:brown;
}

.ability_p1{
     color:brown;
     border-color:brown;
}

.ability_p2{
    color:green;
    border-color:green
}

.p1_hp{
    color:red;
}
