
h1 {
    text-align: center;
    margin: 10px;
}

.ability_p1,.ability_p2 {
    margin: 30px;
    display: flex;
}
.choose_initiative_style {
    display: flex;
}
.chose_fighter {
    text-align: center;
}

.round_style {
    display: flex;
}

#pictures1, #pictures2 {
  display: center;

}

#announcement {
    color: red;
    font-size: 50px;

}
.initiative {
    font-size: 15px;
    visibility: hidden;
    font-display: left
}
.player_one_initiative {
    font-size: 20px;
    color: brown;
    display: flex;
    
}

.player_two_initiative{ 
    font-size: 20px;
    color: green;
    display: flex;
}

#initiative_result {
    text-align: center;
}


.buttons_rogue, .buttons_mage, .buttons_warrior {
    text-align: center;
}


.rogue:hover, .mage:hover, .warrior:hover {
    opacity: 1;
    cursor: pointer;
    border-color: brown;
    transform: scale(1.5);
}

.fighter1 {
    color: white;
    display: flex;
}

.fighter2 {
    display: flex;
    color: white;
}
.fighter1:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale();
}

.fighter2:hover {
    opacity: 50;
    cursor: pointer;
    transform: scale();
}

#player_one_ini_button:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale();
}

#player_two_ini_button:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale();
}

#show_starting_player {
    size: 20px;
}

.ability_p1 {
    display: flex;
}

.ability_p2 {
    display: flex;
}

.p1_hp {
    color: red;
}

.p1_classpick, .p2_classpick {
    display: flex;
    flex-direction: row;
    margin: 60px;
}

#commentary1, #commentary2 {
    border: 2px solid #000000;
    margin: 5px auto;
    padding: 2px;
    box-sizing: border-box;
}

#feedback_player_one, #feedback_player_two {
    color:red;
}

#history {
    bottom: 0px;
}

.information_text {
    display: none;
    margin: 5px;
    background-color: white;
    top: 300px;
    position: fixed;
    border: 2px solid #000000;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
}

.choose_initiative_style:has(#id_rogue_button1:hover, #id_rogue_button2:hover) + .information #rogue_information {
    display: initial;
}

.choose_initiative_style:has(#id_mage_button1:hover, #id_mage_button2:hover) + .information #mage_information {
    display: initial;
}

.choose_initiative_style:has(#id_warrior_button1:hover, #id_warrior_button2:hover ) + .information #warrior_information {
    display: initial;
}

.body:has(#p1_sneak_attack:hover, #p2_sneak_attack:hover) #sneak_attack_information {
    display: initial;
}

.body:has(#p1_dagger:hover, #p2_dagger:hover) #dagger_information {
    display: initial;
}

.body:has(#p1_dirt:hover, #p2_dirt:hover) #dirt_information {
    display: initial;
}

.body:has(#p1_rogue_potion:hover, #p2_rogue_potion:hover) #potion_rogue_information {
    display: initial;
}

.body:has(#p1_fireball:hover, #p2_fireball:hover) #fireball_information {
    display: initial;
}

.body:has(#p1_magic_missile:hover, #p2_magic_missile:hover) #magic_missile_information {
    display: initial;
}

.body:has(#p1_mirrors:hover, #p2_mirrors:hover) #mirrors_information {
    display: initial;
}

.body:has(#p1_mage_potion:hover, #p2_mage_potion:hover) #potion_mage_information {
    display: initial;
}

.body:has(#p1_sword:hover, #p2_sword:hover) #sword_information {
    display: initial;
}

.body:has(#p1_shield_block:hover, #p2_shield_block:hover) #shield_block_information {
    display: initial;
}

.body:has(#p1_warrior_potion:hover, #p2_warrior_potion:hover) #potion_warrior_information {
    display: initial;
}

